<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Please Read</h5>
      </div>
      <div class="modal-body">
        Please read the text carefully. You will be able to close this message after the countdown.
      </div>
      <div class="modal-footer">
        <span id="countdown"></span>
<button type="button" class="btn btn-secondary" data-dismiss="modal" disabled>Close</button>
      </div>
    </div>
  </div>